@use './mixins/acrylic.scss' as acrylic;

.action-btn-container {
  position: fixed;
  right: 30px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  color: var(--el-text-color-secondary);
  background-color: var(--el-bg-color-overlay);
  border-radius: 100px;
  transition: var(--el-transition-duration-fast) ease-in-out;

  html.colorful &:not(.action-btn-container--tran) {
    background-color: var(--el-color-primary-light-9);
  }

  &:hover,
  &:focus-within {
    box-shadow: var(--el-box-shadow-lighter);
  }

  &--tran {
    color: rgb(from var(--el-text-color-secondary) r g b / 30%);
    background-color: var(--le-bg-color-overlay-opacity-90);

    &:hover,
    &:focus-within {
      color: var(--el-text-color-regular);
      background-color: var(--le-bg-color-overlay-opacity-60);
    }

    &.action-btn-container--blur {
      @include acrylic.acrylic(5px, 1.4, 1);
    }
  }

  .el-dropdown {
    color: inherit;
  }
}

.action-btn {
  position: relative;
  width: 33px;
  height: 33px;
  padding: 4px;
  font-size: 25px;
  line-height: 1em;
  cursor: pointer;
  transition: var(--el-transition-duration-fast) ease-in-out;

  &:hover,
  &:focus-visible {
    color: var(--el-color-primary);
  }

  &:focus-visible {
    outline: none;

    &::after {
      position: absolute;
      inset: -2px;
      pointer-events: none;
      content: '';
      border: 2px solid var(--el-color-primary);
      border-radius: 50%;
    }
  }

  .el-icon {
    transition: transform var(--el-transition-duration) ease-in-out;
  }
}

.bookmark-btn {
  &:hover,
  &:focus-visible {
    .el-icon {
      transform: scaleX(-1);
    }
  }
}

.refresh-btn {
  &:hover,
  &:focus-visible {
    .el-icon {
      transform: rotate(360deg);
    }
  }
}

.setting-btn {
  &:hover,
  &:focus-visible {
    .el-icon {
      transform: rotate(90deg);
    }
  }

  .el-badge {
    display: block;
  }

  &__popper.el-popper {
    .el-dropdown-menu {
      padding: 8px;
      background-color: transparent;
    }

    .el-dropdown-menu__item {
      padding: 5px 30px 5px 10px;
      font-size: var(--el-font-size-extra-small);
      border-radius: 12px;

      .el-icon {
        margin-right: 10px;
        font-size: 16px;
      }
    }

    html.colorful &:not(.setting-btn__popper--opacity) {
      background-color: var(--el-color-primary-light-9);

      .el-dropdown-menu__item:hover {
        background-color: var(--el-color-primary-light-8);
      }
    }

    &.setting-btn__popper--opacity {
      background-color: var(--le-bg-color-overlay-opacity-20);
    }

    &.setting-btn__popper--blur {
      @include acrylic.acrylic;
    }
  }
}
