@use './mixins/acrylic.scss' as acrylic;

.action-btn-container {
  --action-btn-container-background: var(--el-bg-color-overlay);

  position: fixed;
  right: 30px;
  bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  color: var(--el-text-color-secondary);
  background-color: var(--action-btn-container-background);
  border-radius: 100px;
  transition: var(--el-transition-duration-fast) ease-in-out;

  &--top-right {
    inset: 20px 30px auto auto;
  }

  &--top-left {
    inset: 20px auto auto 30px;
  }

  &--bottom-left {
    inset: auto auto 20px 30px;
  }

  &:hover,
  &:focus-within {
    box-shadow: var(--el-box-shadow-lighter);
  }

  &--tran {
    color: rgb(from var(--el-text-color-secondary) r g b / 30%);
    background-color: var(--le-bg-color-overlay-action-btns);

    &:hover,
    &:focus-within {
      color: var(--el-text-color-regular);
      background-color: var(--le-bg-color-overlay-action-btns-hover);
    }

    &.action-btn-container--blur {
      @include acrylic.acrylic(var(--le-action-btns-backdrop-blur, 5px), 1.4, 1);
    }
  }

  .el-dropdown {
    color: inherit;
  }
}

html.colorful .action-btn-container {
  --action-btn-container-background: var(--el-color-primary-light-9);
}

.action-btn {
  position: relative;
  width: 33px;
  height: 33px;
  padding: 4px;
  font-size: 25px;
  line-height: 1em;
  cursor: pointer;
  transition: var(--el-transition-duration-fast) ease-in-out;

  &:hover,
  &:focus-visible {
    color: var(--el-color-primary);

    svg {
      filter: drop-shadow(0 0 3px rgb(255 255 255 / 60%));
    }
  }

  &:focus-visible {
    outline: none;

    &::after {
      position: absolute;
      inset: -2px;
      pointer-events: none;
      content: '';
      border: 2px solid var(--el-color-primary);
      border-radius: 50%;
    }
  }

  .el-icon {
    transition: transform var(--el-transition-duration) ease-in-out;
  }
}

.bookmark-btn {
  &:hover,
  &:focus-visible {
    .el-icon {
      transform: scaleX(-1);
    }
  }
}

.refresh-btn {
  &:hover,
  &:focus-visible {
    .el-icon {
      transform: rotate(360deg);
    }
  }
}

.setting-btn {
  &:hover,
  &:focus-visible {
    .el-icon {
      transform: rotate(90deg);
    }
  }

  .el-badge {
    display: block;
  }

  &__popper.el-popper {
    .el-dropdown-menu {
      padding: 8px;
      background-color: transparent;
    }

    .el-dropdown-menu__item {
      padding: 5px 30px 5px 10px;
      font-size: var(--el-font-size-extra-small);
      border-radius: 12px;

      .el-icon {
        margin-right: 10px;
        font-size: 16px;
      }
    }

    &:not(.setting-btn__popper--opacity) {
      background-color: var(--setting-popper-background, var(--el-bg-color-overlay));

      .el-dropdown-menu__item:hover {
        background-color: var(
          --setting-popper-item-hover-background,
          var(--el-dropdown-menuItem-hover-fill)
        );
      }
    }

    &.setting-btn__popper--opacity {
      background-color: var(--le-bg-color-overlay-action-btns-menu);
    }

    &.setting-btn__popper--blur {
      @include acrylic.acrylic(var(--le-action-btns-menu-backdrop-blur, 10px));
    }
  }
}

html.colorful .setting-btn__popper {
  --setting-popper-background: var(--el-color-primary-light-9);
  --setting-popper-item-hover-background: var(--el-color-primary-light-8);
}
