.base-dialog {
  --base-dialog-background: var(--el-bg-color-page);

  height: 500px;
  max-height: 80%;
  padding: 0;
  overflow: hidden;
  background-color: var(--le-dialog-background, var(--base-dialog-background));
  border-radius: 20px;
  box-shadow: 0 0 15px 0 var(--le-bg-color-page-opacity-60);
  transition:
    background-color var(--el-transition-duration-fast) ease,
    box-shadow var(--el-transition-duration-fast) ease;

  &-container {
    height: 100%;
    padding: 0 19px 0 35px;

    @media (width <= 650px) {
      padding: 0 10px 0 26px;
    }
  }

  &-scrollbar {
    padding-right: 15px;
  }

  &-divider {
    width: 100%;
    height: 1px;
    border-top: 1px color-mix(in oklch, var(--el-border-color), transparent 30%)
      var(--el-border-style);
    transition: opacity 0.1s ease;
  }

  &-bottom-spacing {
    height: 35px;
  }

  .el-dialog__header {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 0;
    line-height: 50px;
    text-align: center;
  }

  .el-dialog__body {
    height: calc(100% - 51px);
    color: var(--el-text-color-primary);
    transition: color var(--el-transition-duration-fast) ease;
  }

  &-title {
    font-size: var(--el-font-size-large);
    transition: opacity 0.1s ease;
  }

  &-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 24px;
    height: 24px;
    padding: 2px;
    line-height: 1em;
    color: var(--el-text-color-regular);
    cursor: pointer;
    border-radius: 50%;
    transition: var(--el-transition-duration-fast) ease-in-out;

    &:hover,
    &:focus-visible {
      color: var(--el-text-color-primary);
      background-color: var(--el-fill-color-blank);
      transform: rotate(90deg);
    }

    &:focus-visible {
      outline: none;

      &::after {
        position: absolute;
        inset: -4px;
        pointer-events: none;
        content: '';
        border: 2px solid var(--el-color-primary);
        border-radius: 50%;
      }
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &-list-title {
    margin-top: 30px;
    font-size: 28px;
    font-weight: 600;
  }
}

html.colorful .base-dialog {
  --base-dialog-background: var(--el-color-primary-light-9);
}
