@use '@newtab/styles/mixins/acrylic.scss' as acrylic;

.search-box {
  --search-form-border-color: rgb(255 255 255 / 50%);
  --search-form-background: var(--el-fill-color-darker);
  --search-form-hover-background: var(--el-fill-color-dark);
  --search-form-focus-background: var(--el-fill-color);
  --search-form-placeholder: var(--el-text-color-regular);
  --search-form-placeholder-hover: var(--el-text-color-primary);
  --search-form-shadow: var(--el-box-shadow);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;

  --cubic-bezier: cubic-bezier(0.65, 0.05, 0.1, 1);

  &__form {
    --height: 44px;
    --width: 300px;
    --search-form-placeholder-color: var(--search-form-placeholder);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width);
    height: var(--height);
    font-size: 15px;
    color: transparent;
    border-radius: var(--height);
    transition:
      background-color var(--el-transition-duration-fast) ease,
      box-shadow var(--el-transition-duration-fast) ease,
      border var(--el-transition-duration-fast) ease,
      width var(--el-transition-duration-fast) var(--cubic-bezier);
    animation: delayedFadeIn 0.25s;

    &.border {
      border: solid 1px var(--search-form-border-color);
    }

    &--blur {
      @include acrylic.acrylic(var(--le-search-backdrop-blur, 10px));
    }

    &:hover:not(.search-box__form--focus) {
      --width: var(--search-expand-width, 500px);
      --search-form-placeholder-color: var(--search-form-placeholder-hover);
    }

    // 不透明时浅色模式搜索框背景变化
    /* stylelint-disable-next-line no-descending-specificity */
    &:not(.search-box__form--opacity) {
      background-color: var(--search-form-background);

      &:hover:not(.search-box__form--focus) {
        background-color: var(--search-form-hover-background);
      }

      &.search-box__form--focus {
        background-color: var(--search-form-focus-background);
      }
    }

    // 透明时搜索框背景变化
    &--opacity {
      background-color: var(--le-bg-color-overlay-search);

      &:hover:not(.search-box__form--focus) {
        background-color: var(--le-bg-color-overlay-search-hover);
      }

      &.search-box__form--focus {
        background-color: var(--le-bg-color-overlay-search-focus);
      }
    }

    &--shadow {
      box-shadow: var(--search-form-shadow);
    }

    &--focus,
    &--expand {
      --width: var(--search-expand-width, 500px);
    }

    .search-engine-menu__icon {
      color: var(--el-text-color-regular);
    }

    .search-engine-menu__icon--custom {
      img {
        width: 1em;
        height: 1em;
        object-fit: contain;
      }
    }

    .search-box__btn {
      color: var(--el-color-primary);
    }

    .search-engine-menu__icon,
    .search-box__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--height) - 10px);
      height: calc(var(--height) - 10px);
      margin: 5px;
      overflow: hidden;
      border-radius: 50%;
      transition:
        color var(--el-transition-duration-fast) ease,
        background-color var(--el-transition-duration-fast) ease,
        opacity var(--el-transition-duration-fast) ease;
    }

    &--focus,
    &--always-icon {
      .search-engine-menu__icon,
      .search-box__btn {
        cursor: pointer;

        &:hover {
          background: white;
        }
      }
    }

    .search-box__input {
      width: calc(100% - 2 * var(--height) - 20px);
      height: 100%;
      font-size: 1em;
      color: var(--el-text-color-primary);
      text-align: center;
      outline: none;
      background: none;
      border: none;
      transition:
        width var(--el-transition-duration-fast) var(--cubic-bezier),
        color var(--el-transition-duration-fast) ease;

      &::placeholder {
        color: var(--search-form-placeholder-color);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -khtml-user-select: none;
        user-select: none;
      }
    }
  }
}

html.dark .search-box {
  --search-form-border-color: rgb(255 255 255 / 10%);
  --search-form-background: var(--el-fill-color);
  --search-form-focus-background: var(--el-fill-color-darker);
  --search-form-shadow: var(--el-box-shadow-light);
}

html.colorful .search-box {
  --search-form-background: var(--el-color-primary-light-9);
  --search-form-hover-background: var(--el-color-primary-light-8);
  --search-form-focus-background: var(--el-color-primary-light-8);
}

html.dark:not(.monet) .search-box {
  --search-form-placeholder: var(--el-text-color-secondary);
  --search-form-placeholder-hover: var(--el-text-color-regular);
}

html.light:not(.colorful) .search-box {
  .search-box__form--dark {
    background-color: var(--el-fill-color-blank);
    border: solid 1px var(--el-border-color-light);
  }
}

@media (width <= 600px) {
  .search-box__form {
    --height: 44px;
    --width: 75vw;

    &:hover:not(.search-box__form--focus),
    &.search-box__form--focus {
      --width: 85vw;
    }
  }
}
